# CODEOWNERS — https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# All changes require approval from the repository owner.

# Default owner for everything in the repo
* @JyotiPrakashSamal

# Specific folder ownership for team members
/frontend/public/administration/ @Rama-Desk
/frontend/public/Student and Event/ @sonaligupta-04047
/frontend/public/OUTR website/ @AmritaSahu25
