@import "tailwindcss";

@theme {
  --color-primary: #0b3c5d;
  --color-secondary: #1f5a8a;
  --color-accent: #d4af37;
  --color-bg: #f8fafc;
  --color-text: #1e293b;
  --color-muted: #64748b;
  --color-gold: #d4af37;
  
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
}
